.navContainer {
    display: flex;
    flex-direction: column;
}

.templateNameContainer {
    display: flex;
}

.editName {
    margin-left: 5px;
    cursor: pointer;
}

.wallTool {
    background-color: pink;
}
.startTool {
    background-color: pink;
}
.endTool {
    background-color: pink;
}
