.cell {
    min-width: 30px;
    min-height: 30px;

    border: 1px solid #989898;
    border-radius: 3px;

    transition: border .2s ease;
    user-select: none;
}

.startCell {
    border: 1px solid #70FF98 !important;
    background-color: #70FF98 !important;
    box-shadow: none !important;
}
.endCell {
    border: 1px solid #FF6C6C !important;
    background-color: #FF6C6C !important;
    box-shadow: none !important;
}

.visited {
    border: 15px solid rgba(80, 83, 255, 0.587);
    animation: visited 1s ease 1s;
    animation-fill-mode: forwards;
}
.pathCell {
    border-color: transparent;
    animation: path .15s ease, pathPulse 3s ease 3s infinite;
    animation-fill-mode: forwards;
}
.hiddenPath {
    border-color: #989898;
    animation: visited .5s ease;
}

.wallCell {
    background-color: grey;
}
.slowCell {
    background-color: #fac26e;
}

@keyframes visited {
    0% {
        box-shadow: inset 0px 0px 0px 15px rgba(80, 83, 255, 0.587);
        border: 1px solid #989898;
    }
    100% {
        box-shadow: inset 0px 0px 0px 15px rgba(80, 83, 255, 0);
        border: 1px solid #989898;
    }
}
@keyframes path {
    0% {
        box-shadow: inset 0px 0px 0px 15px rgba(80, 83, 255, 0.587);
    }
    100% {
        box-shadow: inset 0px 0px 0px 15px #1b2dcfb9;
    }
}
@keyframes pathPulse {
    0% {
        box-shadow: inset 0px 0px 0px 15px #3241ce;
    }
    100% {
        box-shadow: inset 0px 0px 0px 15px #1b2dcfb9;
    }
}
