.cell {
    min-width: 30px;
    min-height: 30px;

    border: 1px solid #989898;
    border-radius: 3px;

    transition: border .2s ease;
    user-select: none;
}

.startCell {
    border: 1px solid #989898 !important;
    background-color: #70FF98 !important;
}
.endCell {
    background-color: #FF6C6C !important;
}

.visited {
    border: 15px solid rgba(80, 83, 255, 0.587);
    animation: visited 1s ease 1s;
    animation-fill-mode: forwards;
}
.pathCell {
    border-color: rgba(80, 83, 255, 0.587);
    animation: path .15s ease, pathPulse 3s ease 3s infinite;
    animation-fill-mode: forwards;
}
.hiddenPath {
    border-color: #989898;
    animation: visited .5s ease;
}

.wallCell {
    background-color: grey;
}

@keyframes visited {
    0% {
        background-color: rgba(80, 83, 255, 0.587);
        border: 1px solid #989898;
    }
    100% {
        background-color: #fff;
        border: 1px solid #989898;
    }
}
@keyframes path {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: #3C46A5;
    }
}
@keyframes pathPulse {
    0% {
        background-color: #4b57c2;
    }
    100% {
        background-color: #3C46A5;
    }
}
