.cell {
    min-width: 30px;
    min-height: 30px;

    border: 1px solid #989898;
    border-radius: 3px;

    transition: border .2s ease;
}

.startCell {
    background-color: green;
}
.endCell {
    background-color: red;
}
.visited {
    border: 15px solid rgba(80, 83, 255, 0.587);
}
.wallCell {
    background-color: grey;
}
