.templateListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;

    margin: 33px 0 0 20px;
    padding: 0px 15px 0px 15px;
    user-select: none;

    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}

.templateListTitle {
    width: 100%;
    padding-bottom: 8px;

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #6A6A6A;
    border-bottom: 1px solid #DADADA;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 36px;
    max-height: fit-content;

    margin-bottom: 12px;
    padding: 0 10px 0 10px;

    word-wrap: break-word;

    list-style: none;
    border-radius: 3px;
    background-color: #7F83AA;
    cursor: pointer;
    transition: box-shadow .2s ease;
}
.listItem:hover {
    box-shadow: 0px 0px 1px 4px #7f83aa75;
}
.listItem:active {
    box-shadow: 0px 0px 1px 0px #7f83aa75;
}

.listButton {
    width: 90%;

    color: white;
    font-size: 21px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

}

.selected {
    box-shadow: 0px 0px 1px 3px #7f83aa75;
}

.x {
    margin-left: 5px;
    text-align: center;
    color: white;
}
