.templateListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 270px;

    margin: 33px 0 0 20px;
    padding: 0px 15px 0px 15px;
    user-select: none;

    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}

.templateListTitle {
    width: 100%;
    padding-bottom: 8px;

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #6A6A6A;
    border-bottom: 1px solid #DADADA;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 10px 0 5px;
    max-height: 590px;
    overflow-y: auto;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 36px;
    max-height: fit-content;

    margin-bottom: 12px;
    padding: 0 10px 0 10px;

    word-wrap: break-word;

    list-style: none;
    border-radius: 3px;
    background-color: #7F83AA;
    cursor: pointer;
    transition: box-shadow .2s ease;
}
.listItem:hover {
    box-shadow: 0px 0px 1px 4px #7f83aa75;
}
.listItem:active {
    box-shadow: 0px 0px 1px 0px #7f83aa75;
}

.listButton {
    width: 90%;

    color: white;
    font-size: 21px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

}

.selected {
    box-shadow: 0px 0px 1px 3px #7f83aa75;
}

.xContainer {
    display: flex;
    flex-wrap: wrap;

    margin-left: 5px;
    width: 23px;
    min-width: 23px;
}
.xContainer:hover .block {
    background-color: #FF6C6C;
}
.block {
    position: relative;
    width: 9px;
    height: 9px;
    margin: 1px;

    border-radius: 1px;
    background-color: white;
    transition:
        width .2s ease,
        height .2s ease,
        background-color .4s ease,
        transform .2s ease,
        top .2s ease,
        right .2s ease,
        bottom .2s ease,
        left .2s ease;
}
.blockTL {
    top: 0px;
    left: 0px;
}
.blockTR {
    top: 0px;
    right: 0px;
}
.blockBL {
    bottom: 0px;
    left: 0px;
}
.blockBR {
    bottom: 0px;
    right: 0px;
}
.xContainer:hover .blockTL {
    width: 8px;
    height: 14px;
    top: 5px;
    left: 3px;
    transform: rotate(-45deg);
}
.xContainer:hover .blockTR {
    width: 8px;
    height: 14px;
    top: 5px;
    right: 1px;
    transform: rotate(45deg);
}
.xContainer:hover .blockBL {
    width: 8px;
    height: 14px;
    bottom: 5px;
    left: 3px;
    transform: rotate(45deg);
}
.xContainer:hover .blockBR {
    width: 8px;
    height: 14px;
    bottom: 5px;
    right: 1px;
    transform: rotate(-45deg);
}
