.splashWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255) 30%) no-repeat;
}

.titleContainer {
    display: flex;
    align-items: center;
    width: 60%;
}
.title {
    margin-bottom: 30px;
}

.title > h1 {
    margin-right: 50px;
    margin-bottom: 10px;
    color: rgb(9, 30, 66);
    font-size: 44px;
    font-weight: 500;
}
.title > span {
    margin-right: 50px;

    color: rgb(9, 30, 66);
    line-height: 30px;
    font-size: 21px;
    font-weight: 400;
}
