.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.stackContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 55%;
    max-width: 1000px;
    height: 45%;
    max-height: 400px;

    margin-top: 60px;

    border-bottom: 5px solid #4B4E6D;
    border-radius: 3px;
    background: linear-gradient(0deg, rgb(219, 211, 255) 0%, rgba(255,255,255,0) 70%);
}

.stack {
    background-color: rgb(104, 104, 255);
    transition: height .06s ease;
}
.selected {
    background-color: #fac26e;
}
.selectedNext {
    background-color: #dc9e41;
}

.toolsContainer {
    display: flex;
    justify-content: center;
    width: 55%;

    gap: 5px;

    margin-top: 15px;
    margin-bottom: 30px;
}

.toolsContainer > label {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 10px 15px 10px 15px;

    border-radius: 3px;
    background-color: #4B4E6D;
}
.toolsContainer > label > span {
    margin-right: 5px;
    margin-bottom: 2px;

    font-size: 21px;
    color: white;
}

.toolButton {
    display: flex;

    padding: 10px 15px 10px 15px;

    max-height: 47px;

    font-size: 21px;
    font-weight: 400;

    cursor: pointer;
    color: white;
    background-color: #7F83AA;
    border: 0px;
    border-radius: 3px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s ease;
}
.toolButton:hover {
    box-shadow: 0px 0px 1px 3px #7f83aa75;
}
.toolButton:active {
    box-shadow: 0px 0px 1px 0px #7f83aa75;
}

.select {
    padding: 3px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}
